<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="images/borrowing_books_2_900x400.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <div class="section-header align-center">
                <div class="title">
                    <span>Some quality items</span>
                </div>
                <h2 style="font-size: 3em; font-weight: 500; line-height: 1;">Popular Books</h2>
            </div>        
        </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Trust me I'm Lying</h2>
                    <img src="images/lying.jpg" class="card-img-top mb-3" alt="Trust me I'm Lying" style="height: 300px; object-fit: cover;">
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#single-book">Read More</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Shoe Dog</h2>
                    <img src="images/shoe_dog.jpg" class="card-img-top mb-3" alt="Shoe Dog" style="height: 300px; object-fit: cover;">
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#single-book">Read More</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Death On The Nile</h2>
                    <img src="images/death.jpg" class="card-img-top mb-3" alt="Death On The Nile" style="height: 300px; object-fit: cover;">
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#single-book">Read More</a></div>
            </div>
        </div>
    </div>
</div>