<section id="billboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <button class="prev slick-arrow">
                    <i class="icon icon-arrow-left"></i>
                </button>

                <div class="main-slider pattern-overlay">
                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Shoe Dog</h2>
                            <p style="text-align: justify;">Shoe Dog is a memoir by Nike co-founder Phil Knight.
                                 The memoir chronicles the history of Nike from its founding as Blue Ribbon Sports and its early challenges to its evolution 
                                 into one of the world's most recognized and profitable companies. It also highlights certain parts of Phil Knight's life.</p>
                            <div class="btn-wrap">
                                <a href="#single-book" class="btn btn-outline-accent btn-accent-arrow">Leave A Review<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div><!--banner-content-->
                        <img src="images/shoe_dog.jpg" style="height: 627px;" alt="banner" class="banner-image">
                    </div><!--slider-item-->

                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Built To Last</h2>
                            <p>Built to Last is a book of luminescent importance among books about successful companies / organizations. 
                                Based on the thorough research of Jim Collins (of Good to Great fame) and Jerry Porras, 
                                this book examines the qualities of visionary companies who had great success and staying power in their fields.</p>
                            <div class="btn-wrap">
                                <a href="#single-book" class="btn btn-outline-accent btn-accent-arrow">Leave A Review<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div><!--banner-content-->
                        <img src="images/built_to_last.jpg" style="height: 627px;" alt="banner" class="banner-image">
                    </div><!--slider-item-->

                    <div class="slider-item">
                        <div class="banner-content">
                            <h2 class="banner-title">Trust Me I'm Lying</h2>
                            <p>The book is split into two parts: the first explains why blogs matter,
                                 how they drive the news, and how they can be manipulated, while the second shows what happens when this is done,
                                  how it backfires, and the consequences of the current media system.</p>
                            <div class="btn-wrap">
                                <a href="#single-book" class="btn btn-outline-accent btn-accent-arrow">Leave A Review<i
                                        class="icon icon-ns-arrow-right"></i></a>
                            </div>
                        </div><!--banner-content-->
                        <img src="images/lying.jpg" style="height: 627px;" alt="banner" class="banner-image">
                    </div><!--slider-item-->

                </div><!--slider-->

                <button class="next slick-arrow">
                    <i class="icon icon-arrow-right"></i>
                </button>

            </div>
        </div>
    </div>

</section>

<section id="client-holder" class="py-5">
    <div class="container">
        <div class="row">
            <div class="inner-content">
                <div class="logo-wrap">
                    <div class="grid">
                        <a href="#"><img src="images/client-image2.png" alt="client"></a>
                        <a href="#"><img src="images/client-image3.png" alt="client"></a>
                        <a href="#"><img src="images/client-image4.png" alt="client"></a>
                        <a href="#"><img src="images/client-image5.png" alt="client"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="quotation" class="align-center pb-5 mb-5">
    <div class="inner-content" style="padding-top:100px">
        <h2 class="section-title divider">Quote of the day</h2>
        <blockquote>
            <q>"The more that you read, the more things you will know. The more that you learn, the more places
                you'll go."</q>
            <div class="author-name">Dr. Seuss</div>
        </blockquote>
    </div>
</section>
