<section id="popular-books" class="bookshelf py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">All Genres</h2>
                </div>

                <ul class="tabs">
                    <li data-tab-target="#all-genre" class="active tab">All Genre</li>
                    <li data-tab-target="#business" class="tab">Business</li>
                    <li data-tab-target="#technology" class="tab">Technology</li>
                    <li data-tab-target="#romantic" class="tab">Romantic</li>
                    <li data-tab-target="#adventure" class="tab">Adventure</li>
                    <li data-tab-target="#fictional" class="tab">Fictional</li>
                </ul>

                <div class="tab-content">
                    <div id="all-genre" data-tab-content class="active">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/shoe_dog.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                    </figure>
                                    <figcaption>
                                        <h3>Shoe Dog</h3>
                                        <span>Phil Knight</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/death.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                    </figure>
                                    <figcaption>
                                        <h3>Death On The Nile</h3>
                                        <span>Agathe Christie</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/built_to_last.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                          
                                    </figure>
                                    <figcaption>
                                        <h3>Built To Last</h3>
                                        <span>Collins % Porras</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/harry.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                    </figure>
                                    <figcaption>
                                        <h3>Harry Potter and The Philosopher's Stone</h3>
                                        <span>J.K Rowling</span>
                                    </figcaption>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/lying.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                    </figure>
                                    <figcaption>
                                        <h3>Trust Me I'm Lying</h3>
                                        <span>Ryan Holiday</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/notebook.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                    </figure>
                                    <figcaption>
                                        <h3>The Notebook</h3>
                                        <span>Nicholas Sparks</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/island.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                    </figure>
                                    <figcaption>
                                        <h3>Treasure Island</h3>
                                        <span>Robert Louis Stevenson</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/onksi.jpeg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                  
                                    </figure>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <span>Armor Ramsey</span>
                                       
                                    </figcaption>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="business" data-tab-content>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item2.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Peaceful Enlightment</h3>
                                        <span>Marmik Lama</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item4.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Great travel at desert</h3>
                                        <span>Sanchit Howdy</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item6.jpg"  style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                            
                                    </figure>
                                    <figcaption>
                                        <h3>Life among the pirates</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item8.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="technology" data-tab-content>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item1.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Peaceful Enlightment</h3>
                                        <span>Marmik Lama</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item3.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                            
                                    </figure>
                                    <figcaption>
                                        <h3>Great travel at desert</h3>
                                        <span>Sanchit Howdy</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item5.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Life among the pirates</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item7.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="romantic" data-tab-content>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item1.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                            
                                    </figure>
                                    <figcaption>
                                        <h3>Peaceful Enlightment</h3>
                                        <span>Marmik Lama</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item3.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Great travel at desert</h3>
                                        <span>Sanchit Howdy</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item5.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Life among the pirates</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item7.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="adventure" data-tab-content>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item5.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Life among the pirates</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item7.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="fictional" data-tab-content>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item5.jpg" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                           
                                    </figure>
                                    <figcaption>
                                        <h3>Life among the pirates</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="images/tab-item7.jpg" style="height: 345px;" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart" onclick="window.location.href='#single-book'">Read More</button>                                          
                                    </figure>
                                    <figcaption>
                                        <h3>Simple way of piece life</h3>
                                        <span>Armor Ramsey</span>
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div><!--inner-tabs-->

        </div>
    </div>
</section>